# Peer dependencies
auto-install-peers=true
strict-peer-dependencies=false

# Build natif (nécessaire pour Hostinger)
build-from-source=esbuild,sharp

# Sécurité & performance
shamefully-hoist=false
resolution-mode=highest
