# Peer dependencies
auto-install-peers=true
strict-peer-dependencies=false

# Build natif approuvé explicitement (fix Hostinger)
build-from-source=esbuild,sharp
enable-pre-post-scripts=true

# Sécurité & performance
shamefully-hoist=false
resolution-mode=highest
